# API
HF_TOKEN=""
WANDB_TOKEN=""

# Model
MODEL_NAME=""
TRAINED_MODEL_NAME=""

# Dataset
DATASET=""

# DPO Config
EPOCHS=1
LR=8.e-5

GA=2
BATCH_SIZE=2

WEIGHT_DECAY=0.01
SEED=3407

MAX_SEQ_LENGTH=2048