# API
HF_TOKEN=""
WANDB_TOKEN=""

# Model
MODEL_NAME="sarvamai/sarvam-1"
TRAINED_MODEL_NAME="sarvam-1-2b-Instruct"

# Dataset
DATASET_NAME="Intel/orca_dpo_pairs"

# DPO Config
EPOCHS=1

GA=4
BATCH_SIZE=4

WEIGHT_DECAY=0.01
SEED=3407

MAX_SEQ_LENGTH=2048
